In [1]:
for col in df.columns:  # can also be a list with specific column(s), instead of df.columns
    values = df[col].dropna().reset_index(drop=True)  # drop all NaN from the column
    if type(values[0]) == list:  # checks the first row to see if the column now has a list after having removed NaNs
        df[col] = df[col].fillna({i: [] for i in df.index})  # replace all the NaNs with an empty list; .fillna([]) doesn't work
        max_col_list_len = df.loc[:, col].map(len).max()  # determine max list length for all rows in column
        new_cols = [f'{col}.{i}' for i in range(1, max_col_list_len + 1)]  # create new column names
        df[new_cols] = pd.DataFrame(df[col].tolist(), index= df.index)  # create new column for each value in list
        df = df.drop(columns=col)  # drop original column

NameError: name 'df' is not defined